.question{
    font-family: system-ui;
    background: #f7fbff;

    .option{
        padding: 10px;
        background: #cad8ff52;
        /* border: #ffffff solid 5px; */
        border-radius: 10px;
        padding-left: 41px;
        margin: 8px;
        cursor: pointer;
    }
    .option:hover{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    .questionDesc{
        font-weight: bolder;
        font-size: larger;
        margin: 30px;
    }
    .selected{
        background: #723492;
        color: white;
    }
    .buttomFrame{
        display: flex;
        flex-direction: row-reverse;
        margin-right: 30px;
    }
}
.button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 13px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.button:disabled{
  background-color: lightgreen;
  cursor: not-allowed;
}
.recomendOption{
  display: inline-block;
  padding: 10px; /* Adjust the padding as needed */
  margin: 5px; /* Adjust the margin to control the gap between boxes */
  background-color: rgb(20 182 236);
  border-radius: 10px; /* Adjust the border-radius for rounded corners */
  min-width: 50px; /* Set a minimum width */
  transition: box-shadow 0.3s ease; /* Add a smooth transition effect for the shadow */
  cursor: pointer;
}

.recomendOption:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the shadow values as needed */
}

.applyButton {
  padding: 10px 15px; /* Adjust padding as needed */
  background-color: #04AA6D;
  border: none;
  border-radius: 5px; /* Adjust the border-radius for rounded corners */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect for the background color */
}

.applyButton:hover {
  background-color: darkblue; /* Adjust the background color on hover */
}

.applyButton:disabled{
  cursor: not-allowed;
  background-color: lightgrey;
}

/* Define the animation keyframes */
@keyframes loading {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

/* Apply the animation to the element with the loading-dot-circle class */
.loading-dot-circle {
  display: inline-block;
}

.loading-dot-circle::before {
  content: '';
  display: inline-block;
  width: 10px; /* Adjust the width of the dot */
  height: 10px; /* Adjust the height of the dot */
  background-color: #333; /* Adjust the color of the dot */
  border-radius: 50%;
  margin: 0 5px; /* Adjust the spacing between dots */
  animation: loading 1s infinite ease-in-out; /* Adjust the animation duration as needed */
}

.disabled-button {
  cursor:not-allowed;
  background-color: lightgray;
  color: darkgray;
  border-radius: 5px;
}
